
a
	{
		color: #08c;
	}
		a:hover
			{
				color: #2ae;
			}

div#user_nav
	{
		float: right;
		text-shadow: 0 0 3px rgba(255,255,255,0.3);
		margin-right: 15px;
		margin-top: 14px;
		font-family: Lucida Grande, Helvetica, Arial;
	}

div#header
	{
	 	position: relative;
	 	top: 5px;
	 	border-top: 1px solid #444;
	 	margin: 0px;
	 	width:100%;
	 	height: 45px;
	 	
 		background-image: -webkit-linear-gradient(top,#444,#333);
	 	border-bottom: 2px solid #444;	
	 	box-shadow: 0 0 6px rgba(0,0,0,0.8);
	}
 
div#titleName
 	{
 		float: left;
 		margin-top: 9px;
	 	margin-left: 45px;
 		font-size: 25px;
 		color: #cfcfcf;
 		font-family: Lucida Grande, Helvetica, Arial;
 		text-shadow: 0 0 10px rgba(255,255,255,0.3);
 	}
 	
div#addBtn
 	{
 		background-image: -webkit-linear-gradient(top,#3a3a3a,#444);
 		color: #fff;
 		border: 1px solid rgba(255,255,255,0.1);
 		font-size: 30px;
 		margin-top: 7px;
 		margin-right: 15px;
 		width: 50px;
 		height: 30px; 
 		border-radius: 5px;
 		float: right;
 		box-shadow: inset 0 0 15px rgba(255,255,255,0.1);
 		text-shadow: 0 0 15px rgba(255,255,255,0.8);
 	}
 		div#addBtn:hover
 			{
 				background-image: -webkit-linear-gradient(top,#444,#3a3a3a);
 			}
 			
div#datas
	{
		background: #f9f9f9;
		position:absolute;
		top: 50%;
		margin-top: -300px;
		left: 50%;
		margin-left: -400px;
		width: 800px;
		height: 600px;
		box-shadow: 0 0 100px rgba(0,0,0,0.1);
		border: 1px solid rgba(0,0,0,0.1);
		border-radius: 6px;
	}
